<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.billback.mapper.BillMapper">

    <select id="getBills" resultType="com.bgt.billback.vo.BillVo">
        SELECT
            b.*
        FROM
            bills b
            LEFT JOIN bill_tags bt ON bt.bill_id = b.id
            LEFT JOIN tags t ON bt.tag_id = t.id
        <where>
            1 = 1
            <!-- 用户 -->
            <if test="billDto.userId != null">
                AND b.user_id = #{billDto.userId}
            </if>
            <!-- 收支类型:1-支出,2收入,3不计入收支 -->
            <if test="billDto.inoutType != null">
                AND b.inout_type = #{billDto.inoutType}
            </if>
            <!-- 账单月份 -->
            <if test="billDto.month != null and billDto.month != ''">
                AND DATE_FORMAT(b.bill_date, '%Y-%m') = #{billDto.month}
            </if>
            <!-- 标签取交集 -->
            <if test="billDto.tagIds != null and billDto.tagIds.size > 0 and billDto.tagIds.get(0) != -1">
                <foreach collection="billDto.tagIds" item="t" separator="" index="i" open="" close="">
                    and b.id in ( SELECT bill_id FROM bill_tags WHERE tag_id = #{t})
                </foreach>
            </if>
            <!-- 账户类型:1储蓄账户,2信用账户 -->
            <if test="billDto.accountType != null">
                and t.account_type = #{billDto.accountType}
            </if>
            <!-- 标签类型:1-支付方式,2-账单类型 -->
            <if test="billDto.tagType != null">
                and t.tag_type = #{billDto.tagType}
            </if>
        </where>
        GROUP BY b.id
        order by b.id desc
    </select>

</mapper>